name: Playwright Tests
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:
    inputs:
      run_all:
        description: 'Run ALL tests'
        required: false
        default: false
        type: boolean
  
      project:
        description: 'Select project'
        required: false
        type: choice
        options:
          - api
          - UI-Non-Logged
          - UI-Logged
          - E2E
          - INTEGRATION
          - SMOKE
                  
permissions:
  contents: read
  checks: write
  id-token: write

jobs:
  run-tests:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22.21.1
          cache: 'npm'
          registry-url: 'https://npm.pkg.github.com'
          
      - name: Get installed Playwright version
        id: playwright-version
        run: echo "PLAYWRIGHT_VERSION=$(node -e "console.log(require('./package-lock.json').packages['node_modules/@playwright/test'].version)")" >> $GITHUB_ENV
     
      - name: Cache playwright binaries
        uses: actions/cache@v4
        id: playwright-cache
        with:
          path: |
            ~/.cache/ms-playwright
          key: ${{ runner.os }}-playwright-${{ env.PLAYWRIGHT_VERSION }}
     
      - name: Cache node_modules
        uses: actions/cache@v4
        id: node-cache
        with:
          path: |
            node_modules
          key: node_modules-${{ hashFiles('package-lock.json') }}
          
      - name: Install dependencies
        run: npm install
        
      - name: Install Playwright Browsers
        if: steps.playwright-cache.outputs.cache-hit != 'true'
        run: npx playwright install --with-deps
        
      - name: Run ALL tests
        if: ${{ github.event.inputs.run_all == 'true' }}
        run: npx playwright test
       
      - name: Run selected project
        if: ${{ github.event.inputs.run_all != 'true' }}
        run: npx playwright test --project="${{ github.event.inputs.project }}"
       
      - name: Archive test results
        if: success() || failure()
        uses: actions/upload-artifact@v4
        with:
          name: test-reports
          path: |
            playwright-report/**/*.*
            test-results/**/*.*
      
      - name: Publish test report
        if: success() || failure()
        uses: mikepenz/action-junit-report@v4
        with:
          report_paths: './playwright-report/results.xml'
      
      - name: Save cache always
        id: save-playwright-cache
        if: always()
        uses: actions/cache/save@v4
        with:
          path: |
            ~/.cache/ms-playwright
          key: ${{ runner.os }}-playwright-${{ env.PLAYWRIGHT_VERSION }}
